body {
  font-family: "Raleway", "Roboto", sans-serif;
  color: #757575;
  font-size: 14px;
}
.blue-text:hover,
.blue-text:focus {
  color: #2196f3;
}

/* HEADER */

.header-logo {
  font-weight: 700;
  font-size: 26px;
  line-height: 1.193;
  color: #000;
}
li {
  list-style: none;
}
.header-list {
  list-style: none;
  text-decoration: none;
}
.blue-text {
  color: #2196f3;
}
.black-text {
  color: #000000;
}
.header-list-item {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.143;
}
.header-list-item-link {
  color: #212121;
  text-decoration: none;
}
.link-no-underline {
  text-decoration: none;
  list-style: none;
}
.link-style {
  color: #000;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.172;
}
.nav-list {
  list-style: none;
}
.contact-link-style {
  font-weight: 500;
  font-size: 14px;
  color: #757575;
  list-style: none;
}

/* top-section */

.top-section-text {
  color: #fff;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.365;
}
.top-section {
  background-color: #2f303a;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 30px;
  padding: 200px 0;
}
.top-section-button {
  color: #fff;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  background-color: #2196f3;
  border-style: none;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  cursor: pointer;
  width: 200px;
  min-height: 50px;
}
/* top section portfolio */

.top-section-list {
  list-style: none;
  display: flex;
  gap: 30px;
}
.buttons-portfolio {
  color: #212121;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.625;
  cursor: pointer;
  border-style: none;
}
.blue-background:hover {
  background-color: #2196f3;
  color: #fff;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}
/* projects */

.projects {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  margin-top: 50px;
  margin-bottom: 94px;
  width: 1170px;
}
.project-name {
  color: #212121;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
}
.project-text {
  color: #757575;
  font-size: 16px;
  line-height: 1.875;
}
/*  text-list WebStudio */

.text-header {
  color: #212121;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.143;
}
.text-paragraph {
  color: #757575;
  font-size: 14px;
  line-height: 1.72;
  width: 270px;
  height: 75px;
}
.text-list {
  list-style: none;
  display: flex;
  flex-direction: row;
  margin: 94px 0 0 0;
  gap: 30px;
  justify-content: center;
}
/*  service-team */

.service-header {
  color: #212121;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.172;
}
.service-list {
  list-style: none;
  display: flex;
}
.team-header {
  color: #212121;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.166;
}
.team-card-name {
  color: #212121;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
}
.team-card-profession {
  color: #757575;
  font-size: 16px;
  line-height: 1.19;
}
/* footer  */

.footer-box {
  background-color: #2f303a;
}
.footer-logo {
  color: #fff;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.193;
}
.footer-list {
  list-style: none;
}
.address-text {
  color: #fff;
  font-size: 14px;
  line-height: 1.71;
}
.address-link {
  color: #ffffff99;
  font-size: 14px;
  line-height: 1.71;
}
.address {
  font-style: normal;
}
