:root {
  --light: #f5f4fa;
}

body {
  font-family: "Raleway", "Roboto", sans-serif;
  color: #757575;
  font-size: 14px;
  letter-spacing: 0.03em;
  margin: 0;
  padding: 0;
}

.blue-text:hover,
.blue-text:focus {
  color: #2196f3;
}

/* HEADER */

.border-header {
  border-bottom: 1px solid var(--light);
}

.header-logo {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.174;
  color: #000;
  text-decoration: none;
  padding: 24px 0 25px;
}

.menu {
  font-weight: 500;
  line-height: 1.143;
  letter-spacing: 0.02em;
  display: flex;
  margin: 0;
  padding: 32px 0;
}

.menu-flex-container {
  display: flex;
  gap: 93px;
  margin: 0;
  padding: 0;
  text-align: center;
}

li {
  list-style: none;
}

.header-list {
  list-style: none;
  text-decoration: none;
}

.blue-text {
  color: #2196f3;
}

.black-text {
  color: #000000;
}

.header-list-item {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.143;
}

.header-list-item-link {
  color: #212121;
  text-decoration: none;
}

.link-no-underline {
  text-decoration: none;
  list-style: none;
}

.link-style {
  color: #000;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.172;
}

.nav-list {
  display: flex;
  gap: 46px;
  padding: 0;
  margin: 0;
}

.navigation-list {
  list-style: none;
  display: flex;
  gap: 50px;
  padding: 0 0 0 380px;
  margin: 0;
}

.contact-link-style {
  font-weight: 500;
  font-size: 14px;
  color: #757575;
  list-style: none;
}

/* main */

.top-section-text {
  font-family: "Roboto";
  color: #fff;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.365;
  letter-spacing: 0.06em;
  width: 696px;
  height: 120px;
  margin: 0;
}

.top-section {
  background-color: #2f303a;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 30px;
  padding: 200px 0;
}

.top-section-flex {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 30px;
  padding: 106px 0;
}

.top-section-button {
  font-family: "Roboto";
  color: #fff;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  background-color: #2196f3;
  border-style: none;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  cursor: pointer;
  width: 200px;
  height: 50px;
  letter-spacing: 0.06em;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.top-section-button:hover,
.top-section-button:focus {
  color: #212121;
  background-color: #f5f4fa;
}

.lorem-list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 30px;
  margin: 0 auto;
  padding: 0;
}

.heading-lorem {
  font-weight: 700;
  line-height: 1.143;
  margin: 0;
  padding: 0 0 10px;
}

.section-what-we-do {
  padding-bottom: 94px;
}

.what-we-do {
  margin: 0;
}

.images-what-we-do {
  display: flex;
  flex-direction: row;
  margin: 0 auto;
  gap: 30px;
  padding: 0;
  justify-content: space-between;
}

.our-team {
  align-items: center;
  margin: 0 215px;
}

.name {
  font-family: "Roboto";
  font-size: 16px;
  font-weight: 500;
  margin: 0;
  padding-bottom: 10px;
}

.description-box {
  display: flex;
  flex-direction: column;
  padding: 30px 0;
}

.section-bottom {
  background-color: #f5f4fa;
  font-size: 16px;
  line-height: 1.186;
  padding: 94px 0;
  margin: 0;
}

/* top section portfolio */

.top-section-list {
  list-style: none;
  display: flex;
  gap: 30px;
}
.buttons-portfolio {
  color: #212121;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.625;
  cursor: pointer;
  border-style: none;
}
.blue-background:hover {
  background-color: #2196f3;
  color: #fff;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}
/* projects */

.projects {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  margin-top: 50px;
  margin-bottom: 94px;
  width: 1170px;
}
.project-name {
  color: #212121;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
}
.project-text {
  color: #757575;
  font-size: 16px;
  line-height: 1.875;
}
/*  text-list WebStudio */

.text-header {
  color: #212121;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.143;
}

.text-paragraph {
  color: #757575;
  font-size: 14px;
  line-height: 1.72;
  width: 270px;
  height: 75px;
  margin: 0;
}

.text-list {
  list-style: none;
  display: flex;
  flex-direction: row;
  margin: 94px 0 0 0;
  gap: 30px;
  justify-content: center;
}
/*  service-team */

.service-header {
  font-family: "Roboto";
  color: #212121;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.172;
  padding: 0 0 50px;
  text-align: center;
  margin: 0 auto;
}

.service-list {
  list-style: none;
  display: flex;
}
.team-header {
  color: #212121;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.166;
}
.team-card-name {
  color: #212121;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
}
.team-card-profession {
  color: #757575;
  font-size: 16px;
  line-height: 1.19;
}
/* footer  */

.footer-box {
  background-color: #2f303a;
}
.footer-logo {
  color: #fff;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.193;
}
.footer-list {
  list-style: none;
}
.address-text {
  color: #fff;
  font-size: 14px;
  line-height: 1.71;
}
.address-link {
  color: #ffffff99;
  font-size: 14px;
  line-height: 1.71;
}
.address {
  font-style: normal;
}
